{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:400,700|Crete+Round:400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}" type="text/css" />

	<!-- Medical Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/medical/medical.css' %}" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/medical/css/medical-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'demos/medical/fonts.css' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="{% static 'css/colors.php?color=DE6262' %}" type="text/css" />

	<!-- Articles Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/articles/articles.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/articles/css/fonts.css' %}" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>林進興診所| 高雄家醫科內科、PRP治療推薦| 林進興院長</title>

</head>

<body class="stretched page-transition" data-loader-html="<div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='https://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='https://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto d-none d-md-flex">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#"><i class="icon-time"></i> 看診時間</a></li>
								<li class="top-links-item"><a href="#"><i class="icon-phone3"></i>07-386-9559</a></li>
							<!-- 	<li class="top-links-item"><a href="#" class="nott"><i class="icon-envelope2"></i> medical@canvas.com</a></li> -->
							</ul>
						</div><!-- .top-links end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<!-- <ul class="top-links-container">
								<li class="top-links-item"><a href="/appointment/" class="bg-color text-white">  Line   </a></li>
								<li class="top-links-item"><a href="/appointment/" class="bg-color text-white">Facebook</a></li>

							</ul> -->

							<a href="#" class="button button-3d button-rounded button-blue"><i class="icon-thumbs-up"></i>FACEBOOK</a>
							<a href="#" class="button button-3d button-rounded button-green"><i class="icon-call"></i>LINE&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
						
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" data-menu-padding="28" data-sticky-menu-padding="8">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="/home/" class="standard-logo"><img src="{% static 'demos/medical/images/logo-medical.png' %}" alt="Canvas Logo"></a>
							<a href="/home/" class="retina-logo"><img src="{% static 'demos/medical/images/logo-medical@2x.png' %}" alt="Canvas Logo"></a>
						</div><!-- #logo end -->
						
						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20	"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu style-3 menu-spacing-margin">

							<ul class="menu-container">
								<li class="menu-item {% if request.path == '/home/' %}current{% endif %}"><a class="menu-link" href="/home/"><div>首頁</div></a></li>
								<li class="menu-item {% if request.path == '/about/' %}current{% endif %}"><a class="menu-link" href="/about/"><div>院所介紹</div></a></li>
								<li class="menu-item {% if 'departments' in request.path  %}current{% endif %}"><a class="menu-link" href="/departments/"><div>熱門療程</div></a>
										<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="/departments/eecp/"><div>EECP先進療程</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/departments/mens-health/"><div>男性健康醫學</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/departments/iv-supplements/"><div>日本點滴療法</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/departments/probiotics/"><div>個人化益生菌</div></a></li>
										</ul>



								</li>

								<li class="menu-item {% if request.path == '/appointment/' %}current{% endif %}"><a class="menu-link" href="/appointment/"><div>線上掛號</div></a></li>
								<li class="menu-item {% if request.path == '/doctors/' %}current{% endif %}"><a class="menu-link" href="/doctors/"><div>醫療團隊</div></a></li>
								<li class="menu-item  {% if request.path == '/blog/' %}current{% endif %}"><a class="menu-link" href="/blog/"><div>醫學新知</div></a></li>
								<li class="menu-item  {% if request.path == '/contact/' %}current{% endif %}"><a class="menu-link" href="/contact/"><div>聯絡我們</div></a></li>
								<li class="menu-item {% if request.path == '/radio/' %}current{% endif %}"><a class="menu-link" href="/radio/"><div>空中門診電台</div></a></li>`
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->



		<!-- Content section 
		============================================= --> 
		{% block content %}
		{% endblock %}
		
		<!-- #content section end  -->


		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #F5F5F5; border-top: 2px solid rgba(0,0,0,0.06);">
			<div class="container" style="border-bottom: 1px solid rgba(0,0,0,0.06);">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row gutter-50 col-mb-50">
						<div class="col-md-8">

							<div class="widget clearfix">

								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 row clearfix">
									<div class="col-lg-9">
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="sm-form-control required email" placeholder="Enter your Email to Subscribe to our Newsletter">
									</div>
									<div class="col-lg-3">
										<button class="button button-rounded m-0 center w-100" type="submit">醫療諮詢</rp></button>
									</div>
								</form>

								<div class="line line-sm"></div>

								<div class="row col-mb-30">
									
									
									<div class="col-lg-3 col-6 widget_links">
										
										<ul>
											<li><a href="#">
																專業心臟治療</a></li>
											<li><a href="#">男性健康醫學</a></li>
											<li><a href="#">個人化益生菌</a></li>
											<li><a href="#">日本點滴療法</a></li>
											
										</ul>
									</div>

									
								</div>

							</div>

						</div>

						<div class="col-md-4">

							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-lg-12">
										<div class="footer-big-contacts">
											<span>電話:</span>
											07-386-9559
										</div>
									</div>

									<div class="col-lg-12">
										<div class="footer-big-contacts">
											<span>地址:</span>
											高雄市三民區九如一路171號
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget clearfix">

								<div class="row col-mb-30">
									<div class="col-sm-6 col-md-12 col-lg-6 clearfix">
										<a href="#" class="social-icon si-dark si-colored si-facebook mb-0" style="margin-right: 10px;">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#"><small style="display: block; margin-top: 3px;"><strong>追蹤</strong><br>我們臉書</small></a>
									</div>
									<div class="col-sm-6 col-md-12 col-lg-6 clearfix">
										<a href="#" class="social-icon si-dark si-colored si-rss mb-0" style="margin-right: 10px;">
											<i class="icon-rss"></i>
											<i class="icon-rss"></i>
										</a>
										<a href="#"><small style="display: block; margin-top: 3px;"><strong>訂閱</strong><br>我們Line</small></a>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up rounded-circle"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins.min.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>