{% extends "home/base.html" %}



{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
		<!-- Blog Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/blog/css/fonts.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/blog/blog.css' %}" type="text/css" />	

	<link rel="stylesheet" href="{% static 'css/colors.php?color=F39887' %}" type="text/css" />

		<div class="container">
					<!-- Single Page Content
					============================================= -->
					<div class="single-post mb-0">

						<!-- Single Post
						============================================= -->
						<div class="entry">

							<div class="row justify-content-center">
								<div class="col-lg-6">
									<!-- Entry Title
									============================================= -->
									<div class="entry-title">
										
										<h2>{{page.title}}</h2>
									</div><!-- .entry-title end -->
								</div>
							</div>

							<!-- Entry Meta
							============================================= -->
							<div class="d-flex justify-content-center mt-2">
								<div class="entry-meta">
									<ul>
										<li>{{page.date}}</li>
										<li>By <a href="/doctors/">林進興醫師</a></li>
									</ul>
								</div>
							</div><!-- .entry-meta end -->

							<!-- Entry Image
							============================================= -->
							<div class="entry-image mt-5">
							<img class="rounded" src="{% static 'images/hero.jpg' %}" alt="Blog Single">
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content">

								<div class="row">

									<div class="col-lg-2 media-content" data-animate="fadeIn">
										<div class="entry-title text-start">
											<h4>All online Conferences to save your box, get Inspired and Stay Connected</h4>
										</div>
										<!-- Post Single - Share
										============================================= -->
										<div>
											<h5 class="mb-2">Share this Post:</h5>
											<div>
												<a href="#" class="social-icon si-small si-rounded si-colored si-facebook">
													<i class="icon-facebook"></i>
													<i class="icon-facebook"></i>
												</a>
												<a href="#" class="social-icon si-small si-rounded si-colored ms-1 si-twitter">
													<i class="icon-twitter"></i>
													<i class="icon-twitter"></i>
												</a>
												<a href="#" class="social-icon si-small si-rounded si-colored ms-1 si-pinterest">
													<i class="icon-pinterest"></i>
													<i class="icon-pinterest"></i>
												</a>
												<a href="#" class="social-icon si-small si-rounded si-colored ms-1 si-rss">
													<i class="icon-rss"></i>
													<i class="icon-rss"></i>
												</a>
											</div>
										</div><!-- Post Single - Share End -->
									</div>

									<div class="col-lg-1"></div>

									<div class="text-content col-lg-6">
										  {{ page.body|richtext }}

									
									</div>
									<!-- Post Single - Content End -->

								</div>

							</div>
						</div><!-- .entry end -->

						<h3 class="mb-0">Related Posts</h3>

						<div class="row posts-md">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/1.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">The Best Destinations in Asia for Solo Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/2.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Fashion</a></div>
										<h3><a href="#" class="color-underline stretched-link">10 Trendy Fashion Instagram Profile You Need to Follow</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/3.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>

							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/4.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
						</div>

					</div>
					<!-- Single Page Content -->
				</div>

{% endblock %}
