{% extends "home/base.html" %}



{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}



{% block title %}{{page.title}} | 林進興診所{% endblock %}


{% block customHead %}
<meta property="og:url"           content="http://sanderslin.pythonanywhere.com/blog/{{page.slug}}/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{page.title}}" />	
<!-- <meta property="og:description"   content="this is test description" /> -->
{% image page.img_main original as main %}
<meta property="og:image"         content="{{main.url}}" />
{% endblock %}


{% block content %}

<!-- facebook sharing javascript sdk -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="AgYKeqRn"></script>




<!-- end facebook sharing  -->

<!-- line sharing  -->


<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

<!-- end line sharing  -->



		<!-- Blog Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/blog/css/fonts.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/blog/blog.css' %}" type="text/css" />	

	<link rel="stylesheet" href="{% static 'css/colors.php?color=F39887' %}" type="text/css" />

		<div class="container">
					<!-- Single Page Content
					============================================= -->
					<div class="single-post mb-0">

						<!-- Single Post
						============================================= -->
						<div class="entry">

							<div class="row justify-content-center">
								<div class="col-lg-6">
									<!-- Entry Title
									============================================= -->
									<div class="entry-title">
										
										<h2>{{page.title}}</h2>
									</div><!-- .entry-title end -->
								</div>
							</div>

							<!-- Entry Meta
							============================================= -->
							<div class="d-flex justify-content-center mt-2">
								<div class="entry-meta">
									<ul>
										<li>{{page.date}}</li>
										<li>By <a href="/doctors/">林進興醫師</a></li>
									</ul>
								</div>
							</div><!-- .entry-meta end -->

							<!-- Entry Image
							============================================= -->
							<div class="entry-image mt-5">
							  {% image page.img_main original as main %}
							<img class="rounded" src="{{main.url}}" alt="Blog Single">
						
							</div><!-- .entry-image end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content">

								<div class="row">

									<div class="col-lg-2 media-content" data-animate="fadeIn">
										<div class="entry-title text-start">
											<h4>All online Conferences to save your box, get Inspired and Stay Connected</h4>
										</div>
										<!-- Post Single - Share
										============================================= -->
										<div>
											<h5 class="mb-2">Share this Post:</h5>

												
										
											<div class="fb-share-button" data-href="http://sanderslin.pythonanywhere.com/blog/{{page.slug}}/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsanderslin.pythonanywhere.com%2Fblog%2F{{page.slug}}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>


											<div class="line-it-button" data-lang="en" data-type="share-a" data-env="REAL" data-url="http://sanderslin.pythonanywhere.com/blog/{{page.slug}}/" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>


											
										
										
											
										</div><!-- Post Single - Share End -->
									</div>

									<div class="col-lg-1"></div>

									<div class="text-content col-lg-6">

										 

										 <article>
										    {% for block in page.body %}
										        {% if block.block_type == 'heading' %}
										          
										            <div class="title-block">
														<h3 style="color:purple;">{{ block.value }}</h3>
													</div>
										        {% elif block.block_type == 'image' %}

										           
										             {% image block.value original as img %}
										           
										       		
										       		<div class="row mb-4" data-lightbox="gallery">
														<div class="col-md-12">
															<a href="{{img.url}}" data-lightbox="gallery-item"><img class="rounded" src="{{img.url}}" alt="Alt Images"></a>
														</div>
													</div>

										            <br>
												   
													
											


												

										        {% else %}
										        	<section class="block-{{ block.block_type }}">
										                {% include_block block %}
										            </section>
										            <br>
										        {% endif %}
										    {% endfor %}
										</article>

																			
									</div>
									<!-- Post Single - Content End -->

								</div>

							</div>
						</div><!-- .entry end -->
						<div >
							<!-- <ul class="top-links-container">
								<li class="top-links-item"><a href="/appointment/" class="bg-color text-white">  Line   </a></li>
								<li class="top-links-item"><a href="/appointment/" class="bg-color text-white">Facebook</a></li>

							</ul> -->

							<a href="https://www.facebook.com/pages/%E6%9E%97%E9%80%B2%E8%88%88%E8%A8%BA%E6%89%80/257605324306300/" class="button button-3d button-rounded button-blue"  target="_blank"><i class="icon-thumbs-up"></i>FACEBOOK</a>
							<!-- <a href="https://lin.ee/4CyvSWs" class="button button-3d button-rounded button-green"><i class="icon-call"></i>LINE&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
							<a href="https://lin.ee/4CyvSWs"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="40" border="0"></a>
						
						</div><!-- .top-links end -->


						<h3 class="mb-0">Related Posts</h3>

						<div class="row posts-md">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/1.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">The Best Destinations in Asia for Solo Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/2.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Fashion</a></div>
										<h3><a href="#" class="color-underline stretched-link">10 Trendy Fashion Instagram Profile You Need to Follow</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/3.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>

							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="entry-image">
										<a href="#"><img src="{% static 'demos/blog/images/video-thumbs/4.jpg' %}" alt="Image 3"></a>
									</div>
									<div class="entry-title title-sm text-start">
										<div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
										<h3><a href="#" class="color-underline stretched-link">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
									</div>
									<div class="entry-meta">
										<ul>
											<li><a href="#">Mar 11, 2016</a></li>
										</ul>
									</div>
								</article>
							</div>
						</div>

					</div>
					<!-- Single Page Content -->
				</div>

{% endblock %}
