

	
{% extends "home/base.html" %}



{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}



		<!-- Page Title
		============================================= -->
		<section id="page-title" class="bg-transparent">

			<div class="container clearfix">
				<h1>Our Awesome Doctors</h1>
				<span>A Short Page Title Tagline</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Doctors</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="row col-mb-50 mb-0">
						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/peterLin.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>林進興醫師</h4></a>
										<a href="#"><span>家庭醫學科</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/SandersLin.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>林宏慶醫師</h4></a>
										<a href="#"><span>內科</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech reductions cornerstone disruptor.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="w-100"></div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/3.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Mary Jane</h4></a>
										<a href="#"><span>Neurologist</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/4.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Silvia Bush</h4></a>
										<a href="#"><span>Dentist</span></a>
									</div>
									<div class="team-content">
										<p>Emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-linkedin">
										<i class="icon-linkedin"></i>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="w-100"></div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/6.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Hugh Baldwin</h4></a>
										<a href="#"><span>Cardiologist</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/7.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Erika Todd</h4></a>
										<a href="#"><span>Neurologist</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="w-100"></div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/8.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Randy Adams</h4></a>
										<a href="#"><span>Dentist</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="team team-list row align-items-center">
								<div class="team-image col-md-5 col-lg-3">
									<img src="{% static 'demos/medical/images/doctors/9.jpg' %}" alt="Dr. John Doe">
								</div>
								<div class="team-desc col-md">
									<div class="team-title">
										<a href="#"><h4>Dr. Alan Freeman</h4></a>
										<a href="#"><span>Eye Specialist</span></a>
									</div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="promo promo-dark promo-full promo-uppercase bg-color footer-stick p-5">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12 col-lg">
								<h3 style="letter-spacing: 2px;">Get the Best Care for your Loved Ones</h3>
								<span class="nott">We strive to provide Our Customers with Top Notch Support to make their Theme</span>
							</div>
							<div class="col-12 col-lg-auto mt-4 mt-lg-0">
								<a href="#" class="button button-large button-border button-rounded button-light button-white m-0">Contact Us</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section><!-- #content end -->



{% endblock %}